!!!
%html
  %head
    %title Sign in
  %body
    %form{ :method => :POST}
      %input{ :type => :email, :placeholder => :email, :name => :email}
      %input{ :type => :password, :placeholder => :password, :name => :password}
      %input{ :type => :submit, :value => :Signin}
